#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.menu{
    position: absolute;
    top:50px;
    left:0;
    width:30%;
    height:100vh;
    background: rgba(9, 232, 240, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: rgb(0, 0, 0);
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgb(217, 223, 161);
}

.menu a:hover{
    background: rgb(217, 223, 161);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);

}